@import "tailwindcss/base";
@import "tailwindcss/utilities";

html, body, #main {
  @apply bg-gray-700 text-gray-100;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

html, body {
  height: 100%;
}

a {
  @apply text-blue-500;
}

.x-gutters {
  @apply px-8;
}

.y-gutters {
  @apply py-3;
}

.main-contents {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.y-content {
  width: 100%;
  position: relative;
  min-height: calc(100% - 40px);
}

.btn {
  @apply block;
  @apply px-3;
  @apply py-2;
}

.input-white {
  @apply block;
  @apply px-3;
  @apply py-2;
  @apply text-gray-900;
  @apply rounded-sm;
  @apply border;
  @apply border-gray-100;
}

.input-white[disabled] {
  @apply bg-gray-100;
  @apply text-gray-500;
}

table tbody td {
  @apply px-3;
  @apply py-2;
}

table thead th {
  @apply px-3;
  @apply border-b;
  @apply border-black;
  @apply border-solid;
  @apply py-2;
}
