@import "tailwindcss/base";
@import "tailwindcss/utilities";

html, body, #main {
  @apply bg-gray-700 text-gray-100;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

html, body {
  height: 100%;
}

a {
  @apply text-blue-500;
}

.x-gutters {
  @apply px-8;
}

.y-gutters {
  @apply py-3;
}

.main-contents {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.y-content {
  width: 100%;
  position: relative;
  min-height: calc(100% - 40px);
}
